/* Main SASS file with all global styling information */
/* global grid settings */
/* global grid settings for Neat */
/* Bourbon & Neat Imports */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Other stuff */
/* Global color variables */
/* PLANET COLORS */
/* GLOBAL COLORS */
/* FONTS */
/* FONT SIZES */
/* measures */
/* converts a specified pixel size to rem for a specified property */
/* generates a linear gradient from to color values */
/* rotates an object around its center */
/* provides a clearfix for divs with floating children */
.global--clearfix {
  *zoom: 1; }
  .global--clearfix:before, .global--clearfix:after {
    content: " ";
    display: table; }
  .global--clearfix:after {
    clear: both; }

/* mixin for cross browser keyframe animations */
/* mixin for cross browser transitions */
/* cross browser border radius */
/* transform */
/* css calculating */
/* creates a circle with a given size & color */
/* centers vertically */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px, 120px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%;
  width: 100%; }

body {
  line-height: 1;
  height: 100%;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* stuffing everything together ;) */
/* Base layout */
html {
  max-width: 5000px;
  margin-left: auto;
  margin-right: auto; }
  html::after {
    clear: both;
    content: "";
    display: block; }

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 12px, 120px;
  color: #fff;
  background-color: black;
  background: url(/assets/img/bg-demo.jpg);
  background-size: cover; }

h2 {
  line-height: .8; }

strong {
  font-weight: 900; }

/* Global elements */
.global--float-left {
  float: left; }

.global--center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

/* animation keyframes */
@-webkit-keyframes totheright {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -moz-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  60% {
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); } }

@-moz-keyframes totheright {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -moz-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  60% {
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); } }

@-ms-keyframes totheright {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -moz-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  60% {
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); } }

@-o-keyframes totheright {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -moz-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  60% {
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); } }

@keyframes totheright {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -moz-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  60% {
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); } }

/*
* The coloring takes place in the planet specific scss file.
* Basic interface when a planet is visited
*/
#planet-detail #planet-detail--progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vw;
  height: 5px; }

#planet-detail #planet-detail--bar-top {
  position: fixed;
  width: 100%;
  height: 3.75rem;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #181818 100%);
  /* W3C */
  top: 0;
  left: 0;
  overflow: hidden; }
  #planet-detail #planet-detail--bar-top #bar-top--text {
    padding-top: 1.3rem;
    max-width: 5000px;
    margin-left: auto;
    margin-right: auto; }
    #planet-detail #planet-detail--bar-top #bar-top--text::after {
      clear: both;
      content: "";
      display: block; }
    #planet-detail #planet-detail--bar-top #bar-top--text h1 {
      float: left;
      display: block;
      margin-right: 3.0075467489%;
      width: 31.3283021674%;
      text-align: center;
      font-size: 19px;
      text-transform: uppercase;
      font-weight: 900; }
      #planet-detail #planet-detail--bar-top #bar-top--text h1:last-child {
        margin-right: 0; }
    #planet-detail #planet-detail--bar-top #bar-top--text #bar-top--distance {
      margin-left: 1.618em;
      float: left;
      display: block;
      margin-right: 3.0075467489%;
      width: 31.3283021674%;
      float: left;
      text-transform: uppercase;
      font-size: 19px; }
      #planet-detail #planet-detail--bar-top #bar-top--text #bar-top--distance:last-child {
        margin-right: 0; }

#planet-detail #bar-top--continue {
  text-align: right;
  float: left;
  display: block;
  margin-right: 3.0075467489%;
  width: 22.7443399383%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.3rem;
  font-size: 19px;
  height: 100%;
  background-color: #323232; }
  #planet-detail #bar-top--continue:last-child {
    margin-right: 0; }
  #planet-detail #bar-top--continue #continue--link {
    margin-right: 1.618em;
    text-transform: uppercase; }
  #planet-detail #bar-top--continue .bar-top--key-esc-s {
    width: 3rem;
    height: 2rem;
    margin: -0.4rem 0 0 46px;
    border: 2px solid;
    text-align: center;
    padding-top: .3rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box; }
    #planet-detail #bar-top--continue .bar-top--key-esc-s span {
      font-size: 1rem;
      font-weight: 900; }

/*
    * This is the content area for each planet (text, facts...)
    */
.infowrapper {
  height: 100%;
  max-width: 5000px;
  margin-left: auto;
  margin-right: auto;
  height: -moz-calc(100% - 3.75rem);
  height: -webkit-calc(100% - 3.75rem);
  height: calc(100% - 3.75rem);
  margin-top: 3.75rem; }
  .infowrapper::after {
    clear: both;
    content: "";
    display: block; }

#planet-detail--model {
  height: 100%;
  float: left;
  display: block;
  margin-right: 3.0075467489%;
  width: 48.4962266255%;
  padding: 5rem; }
  #planet-detail--model:last-child {
    margin-right: 0; }
  #planet-detail--model img {
    width: 100%;
    height: auto; }

#planet-detail--txt {
  height: 100%;
  float: left;
  display: block;
  margin-right: 3.0075467489%;
  width: 39.9122643964%;
  margin-top: 3.75rem;
  padding-top: 46px; }
  #planet-detail--txt:last-child {
    margin-right: 0; }
  #planet-detail--txt h2 {
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 900; }
  #planet-detail--txt h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 12px; }
  #planet-detail--txt p {
    font-size: 18px;
    margin-top: 31px;
    line-height: 1.4; }

#planet-detail--solarsystem {
  float: left;
  display: block;
  margin-right: 3.0075467489%;
  width: 5.5764154801%;
  margin-top: 3.75rem; }
  #planet-detail--solarsystem:last-child {
    margin-right: 0; }
  #planet-detail--solarsystem #circles {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 1.618em; }
    #planet-detail--solarsystem #circles div {
      margin: 0.75rem auto 0.75rem auto; }
    #planet-detail--solarsystem #circles div:first-of-type {
      margin-bottom: 0.75rem; }
    #planet-detail--solarsystem #circles div:last-of-type {
      margin-bottom: 0; }
    #planet-detail--solarsystem #circles .circle--mercury {
      width: 7px;
      height: 7px;
      background: #fff;
      -webkit-border-radius: 3.5px;
      -moz-border-radius: 3.5px;
      border-radius: 3.5px; }
    #planet-detail--solarsystem #circles .circle--venus {
      width: 10px;
      height: 10px;
      background: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    #planet-detail--solarsystem #circles .circle--earth {
      width: 12px;
      height: 12px;
      background: #fff;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
    #planet-detail--solarsystem #circles .circle--mars {
      width: 8px;
      height: 8px;
      background: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    #planet-detail--solarsystem #circles .circle--jupiter {
      width: 30px;
      height: 30px;
      background: #fff;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }
    #planet-detail--solarsystem #circles .circle--saturn {
      width: 25px;
      height: 25px;
      background: #fff;
      -webkit-border-radius: 12.5px;
      -moz-border-radius: 12.5px;
      border-radius: 12.5px; }
    #planet-detail--solarsystem #circles .circle--uranus {
      width: 15px;
      height: 15px;
      background: #fff;
      -webkit-border-radius: 7.5px;
      -moz-border-radius: 7.5px;
      border-radius: 7.5px; }
    #planet-detail--solarsystem #circles .circle--neptune {
      width: 13px;
      height: 13px;
      background: #fff;
      -webkit-border-radius: 6.5px;
      -moz-border-radius: 6.5px;
      border-radius: 6.5px; }

/* The buttons which allow to navigate through the content slides */
#planet-detail--btns {
  margin-top: 51px; }
  #planet-detail--btns .planet-detail--btns-single {
    text-transform: uppercase;
    font-weight: 900; }
  #planet-detail--btns .planet-detail--hr {
    border: 0;
    background-color: white;
    height: 5px;
    width: 74px;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  #planet-detail--btns .planet-detail--key-right-s {
    width: 2rem;
    height: 2rem;
    margin: -0.5rem 0 0 19px;
    border: 2px solid;
    padding: .4rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box; }
    #planet-detail--btns .planet-detail--key-right-s .key-right--arrow svg {
      width: 100%;
      height: 100%;
      -webkit-animation: totheright 1.5s infinite;
      -moz-animation: totheright 1.5s infinite;
      animation: totheright 1.5s infinite; }

/* MARS specific styles. mostly color related */
.mars {
  /* recolors the main headline on the first intro slide */
  /* recolors the next navigation element */ }
  .mars #planet-detail--progress {
    background-color: #fa550d; }
  .mars #planet-detail--txt h2 .planet {
    color: #fa550d; }
  .mars #planet-detail--bar-top #bar-top--text h1 {
    color: #fa550d; }
  .mars #planet-detail--btns .continue {
    color: #fa550d; }
  .mars #planet-detail--btns .planet-detail--key-right-s {
    border-color: #fa550d !important; }
    .mars #planet-detail--btns .planet-detail--key-right-s .key-right--arrow svg {
      fill: #fa550d; }
