/* JUPITER specific styles. mostly color related */

.jupiter {
    #canvas--inbetween {
        .planet-detail--background {
            background: url('../assets/img/planets/jupiter/jupiter-background.jpg');
        }
    }
    
    #planet-detail--progress {
        background-color: $color-jupiter;
    }
    /* recolors the main headline on the first intro slide */
    #planet-detail--txt {
        h2 {
            .planet {
                color: $color-jupiter;
            }
        }
    }
    #travel-detail--bar-top {
        strong {
            color: $color-jupiter;
        }
        #bar-top--text {
            h1 {
                color: $color-jupiter;
            }
        }
    }
    /* recolors the next navigation element */
    #planet-detail--btns {
        .continue {
            color: $color-jupiter;
        }
        .planet-detail--key-right-s {
            border-color: $color-jupiter !important;
            .key-right--arrow {
                svg {
                    fill: $color-jupiter;
                }
            }
        }
    }
}
