/* NEPTUNE specific styles. mostly color related */

.neptune {
    #canvas--inbetween {
        .planet-detail--background {
            background: url('../assets/img/planets/neptune/neptune-background.jpg');
            opacity: 1;
            transition: opacity $planet-detail--background-fadein ease-in-out;
        }
    }
    #planet-detail--progress {
        background-color: $color-neptune;
    }
    /* recolors the main headline on the first intro slide */
    #planet-detail--txt {
        h2 {
            .planet {
                color: $color-neptune;
            }
        }
    }
    #travel-detail--bar-top {
        strong {
            color: $color-neptune;
        }
        #bar-top--text {
            h1 {
                color: $color-neptune;
            }
        }
    }
    /* recolors the next navigation element */
    #planet-detail--btns {
        .continue {
            color: $color-neptune;
        }
        .planet-detail--key-right-s {
            border-color: $color-neptune !important;
            .key-right--arrow {
                svg {
                    fill: $color-neptune;
                }
            }
        }
    }
}
