    /* Restyling of basic HTML elements */
    
    html {
        @include outer-container();
    }
    body {
        font-family: $main-font;
        font-size: $font-size-base;
        color: $color-copytext;
        background-color: transparent;
        background-size: cover;
    }
    h1,
    h2,
    h3 {
        text-transform: uppercase;
    }
    h2 {
        line-height: .8;
    }
    strong {
        font-weight: 400;
    }
    /* Global elements */
    
    .global--clearfix {
        @extend %clearfix;
    }
    .global--float-left {
        float: left;
    }
    .global--center-vertical {
        @include vertical-center;
    }
    .global--center {
        @include center;
    }
    .hidden {
        display: none;
    }
    .active {
        display: block;
    }
    /* Animation keyframes */
    /* animation which lets an element bounce to the right */
    
    @include keyframes(totheright) {
        0%,
        20%,
        50%,
        80%,
        100% {
            @include transform(translateX(0));
        }
        0%,
        20%,
        50%,
        80%,
        100% {
            @include transform(translateX(0));
        }
        40% {
            @include transform(translateX(-4px));
        }
        60% {
            @include transform(translateX(-2px));
        }
    }
    /* pulse effect */
    
    @include keyframes(pulse) {
        0% {
            @include transform(scale(1, 1));
            opacity: 0.0;
        }
        20% {
            opacity: 1.0;
        }
        100% {
            @include transform(scale(1.1, 1.8));
            opacity: 0.0;
        }
    }
    @include keyframes(arrowkeys--pulse) {
        0% {
            @include transform(scale(1, 1));
            opacity: 0.0;
        }
        20% {
            opacity: 1.0;
        }
        100% {
            @include transform(scale(1.1, 1.1));
            opacity: 0.0;
        }
    }
    @include keyframes(line--pulse) {
        0% {
            opacity: 0.75;
        }
        50% {
            @include transform(scale(1.1, 1.1));
            opacity: 1.0;
        }
        100% {
            @include transform(scale(1, 1));
            opacity: 0.75;
        }
    }
    @include keyframes(opacity) {
        0% {
            opacity: 0.5;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.5;
        }
    }
    @include keyframes(start-fadeout) {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @include keyframes(slide-topdown) {
        0% {
            top: -$topbar--height-rem;
            ;
        }
        100% {
            top: 0;
        }
    }
    @include keyframes(slide-rightleft) {
        0% {
            right: -$gutter*2;
        }
        100% {
            right: $gutter;
        }
    }
    @include keyframes(pulse-shadow) {
        0% {}
    }
    @include keyframes(selection) {
        0% {
            @include transform(scale(0.8));
            opacity: 0.6;
        }
        100% {
            @include transform(scale(1));
            opacity: 1;
        }
    }
    /* canvas styling */
    
    #canvas--back,
    #canvas--front,
    #canvas--inbetween {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .planet-detail--background {
            position: absolute;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 70%, 0 100%, 100% 100%, 100% 0);
        }
    }
    .content--start-fadeout {
        @include animation(start-fadeout 1s ease-in);
        @include animation-delay(500ms);
        animation-fill-mode: forwards;
        #intro--press-start,
        #intro--press-start-pulse {
            @include animation(start-fadeout 100ms ease-in);
            animation-fill-mode: forwards;
        }
        #intro--arrowkeys {
            @include animation(start-fadeout 500ms ease-in);
            animation-fill-mode: forwards;
        }
    }
    .travel--marker {
        @include animation(opacity 2s ease-out infinite);
        font-size: $font-size-travelmarker;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }
    #travel--selectionring {
        border-radius: 50%;
        border: 1px solid white;
        opacity: 0;
        @include animation(selection 0.7s linear infinite alternate);
    }
    .intro {
        #intro--press-start {
            @include span-columns(4);
            @include shift(4);
            @include border-radius($global--border-radius);
            text-align: center;
            position: absolute;
            margin-top: $intro--margin-top;
            text-transform: uppercase;
            letter-spacing: $spacing-txt--intro-press-start;
            margin-right: -$spacing-txt--intro-press-start; // counters the letter spacing on the last letter (which would make the headline not evenly centered)
            border: $global-keys--border-weight solid;
            height: 3rem;
        }
        #press-start--txt {
            margin-top: .8rem;
        }
        #intro--press-start-pulse {
            @extend #intro--press-start;
            border-color: rgba(255, 255, 255, .25);
            position: absolute;
            @include animation(pulse 3s ease-out infinite);
        }
        #intro--title {
            @include span-columns(8);
            @include shift(2);
            text-align: center;
            h1 {
                font-family: $headline-font;
                font-size: $font-size-h1--intro-title;
                font-weight: 900;
                letter-spacing: $spacing-h1--intro-title;
                margin-right: -$spacing-h1--intro-title; // counters the letter spacing on the last letter (which would make the headline not evenly centered)
                margin-bottom: ms(2);
                padding: 0;
            }
            h2 {
                font-family: $headline-font;
                font-size: $font-size-h2--intro-title;
                font-weight: 400;
                letter-spacing: $spacing-h2--intro-title;
                margin-right: -$spacing-h2--intro-title; // counters the letter spacing on the last letter (which would make the headline not evenly centered)
            }
        }
        #intro--arrowkeys {
            position: absolute;
            @include horizontal-center;
            bottom: $intro--margin-top;
            .intro-arrowkeys--key {
                width: 2rem;
                height: 2rem;
                border: $global-keys--border-weight solid;
                padding: .4rem;
                @include border-radius(3px);
                .key--arrow {
                    @include animation(arrowkeys--pulse 5s ease-out infinite);
                    svg {
                        margin-left: .2rem;
                        fill: white;
                        width: 60%;
                        height: 60%;
                    }
                }
            }
            span {
                background-color: green;
            }
            .top {
                margin: 0 auto $intro--arrowkeys-margin/2 auto;
                .key--arrow {
                    @include animation-delay($arrowkeys--animation-delay);
                    svg {
                        @include rotate(-90deg);
                    }
                }
            }
            .left,
            .bottom,
            .right {
                margin-top: $intro--arrowkeys-margin/2;
            }
            .left {
                margin-right: $intro--arrowkeys-margin/2;
                .key--arrow {
                    @include animation-delay(0s);
                    svg {
                        @include rotate(180deg);
                    }
                }
            }
            .bottom {
                margin: $intro--arrowkeys-margin/2 $intro--arrowkeys-margin/2 0 $intro--arrowkeys-margin/2;
                .key--arrow {
                    @include animation-delay($arrowkeys--animation-delay*2);
                    svg {
                        @include rotate(90deg);
                        margin-bottom: .1rem;
                        margin-left: .2.8rem;
                    }
                }
            }
            .right {
                margin-left: $intro--arrowkeys-margin/2;
                .key--arrow {
                    @include animation-delay($arrowkeys--animation-delay*3);
                }
            }
        }
        #intro--info {
            position: absolute;
            bottom: $intro--margin-top;
            right: $intro--margin-top;
            a {
                text-transform: uppercase;
                color: #aaa;
                text-decoration: none;
                @include transition(color 500ms);
            }
            a:hover {
                color: #ccc;
            }
        }
    }
    /* the top interface for displaying information */
    
    #travel-detail--bar-top {
        @include outer-container();
        @include animation(slide-topdown .3s ease-out);
        @include animation-delay(5.5s);
        position: fixed;
        width: 100%;
        left: 0;
        @include border-radius($global--border-radius);
        height: $topbar--height-rem;
        @include gradient(#313131, #202020);
        top: -$topbar--height-rem*5;
        animation-fill-mode: forwards;
        overflow: hidden;
        //@include box-shadow(0, -50px, 150px, #31d6ff)
        svg {
            width: 4rem;
            float: left;
            margin-top: -.2rem;
            fill: white;
        }
        // includes the text in the top bar
        #bar-top--text {
            padding-top: 1.3rem;
            color: white;
            @include outer-container();
            h1 {
                @include span-columns(4);
                text-align: center;
                font-size: $font-size-h1--topnav;
                font-weight: 900;
                letter-spacing: $spacing-h2--intro-title;
                display: table;
                white-space: nowrap;
                &:before,
                &:after {
                    border-top: 1px solid #555;
                    content: '';
                    display: table-cell;
                    position: relative;
                    top: 0.5em;
                    width: 45%;
                }
                &:before {
                    right: 5%;
                }
                &:after {
                    left: 5%;
                }
            }
            #bar-top--distance {
                padding-left: $gutter;
                @include span-columns(4);
                float: left;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 1rem;
                #bar-top--currentdistance-calc {
                    font-variant-numeric: tabular-nums;
                    -moz-font-feature-settings: "tnum";
                    -webkit-font-feature-settings: "tnum";
                    font-feature-settings: "tnum";
                }
            }
            #bar-top--currentdistance-calc {
                margin-left: .75rem;
                font-weight: 400;
            }
            #bar-top--distance-nextplanet {
                @extend #bar-top--distance;
                padding-left: 0;
                text-align: right;
                #bar-top--nextplanet-distance-calc {
                    font-variant-numeric: tabular-nums;
                    -moz-font-feature-settings: "tnum";
                    -webkit-font-feature-settings: "tnum";
                    font-feature-settings: "tnum";
                }
            }
        }
    }
    /*
* vvvvvvv ANYTHING BELOW HERE IS PLANET DETAIL RELATED vvvvvvv
*
* The coloring takes place in the planet specific scss file.
* Basic interface when a planet is visited
*/
    
    #planet-detail {
        @include outer-container();
        #planet-detail--progress {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 25vw;
            height: 5px;
        }
        // the continue button is excluded from the container since it has to be positioned at right 0 top 0
        #bar-top--continue {
            //padding-right: (100%-$max-width)/2; // calculates the padding to the right regarding the grid systems max width in percent (which is 95%)
            text-align: right;
            @include span-columns(3);
            position: absolute;
            right: 0;
            top: 0;
            padding-top: 1.3rem;
            font-size: $font-size-h1--topnav;
            height: 100%;
            // @include rotate(25deg);
            background-color: #323232;
            #continue--link {
                margin-right: $gutter;
                text-transform: uppercase;
            }
            .bar-top--key-esc-s {
                width: 3rem;
                height: 2rem;
                margin: -.4rem 0 0 ms(5);
                border: $global-keys--border-weight solid;
                text-align: center;
                padding-top: .3rem;
                @include border-radius($global--border-radius);
                span {
                    font-size: rem(16);
                    font-weight: 900;
                }
            }
        }
    }
    /*
    * This is the content area for each planet (text, facts...)
    */
    
    #infowrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        @include outer-container();
        @include calc(height, '100% - #{$topbar--height-rem}');
    }
    #planet-detail--model {
        height: 100%;
        @include span-columns(6);
        padding: 5rem;
        img {
            width: 100%;
            height: auto;
        }
    }
    #planet-detail--txt {
        height: 100%;
        @include span-columns(5);
        @include shift(6);
        margin-top: $topbar--height-rem;
        h2 {
            font-size: $font-size-h2--intro;
            font-weight: 900;
            line-height: .9;
        }
        h3 {
            font-size: $font-size-h3--intro;
            font-weight: 900;
            margin-bottom: ms(0);
        }
        p {
            font-size: $font-size-p--intro;
            margin-top: ms(4);
            line-height: 1.4;
        }
        .detail--image-description {
            @include outer-container();
            margin-top: ms(3);
        }
        img {
            @include span-columns(9);
            height: auto;
            border: $border-image solid white;
        }
        aside {
            @include span-columns(3);
            line-height: 1.4;
            padding-top: $border-image;
            color: $color-aside;
        }
        table {
            @include outer-container();
            tr {
                border-bottom: 1px dashed $color-circles-unvisited;
                @include span-columns(12);
            }
            td {
                padding: 2rem 0 1rem 0;
            }
            td:first-of-type {
                font-weight: 900;
                text-transform: uppercase;
                @include span-columns(5);
            }
            td:last-of-type {
                @include span-columns(7);
            }
        }
    }
    #universe--solarsystem {
        @include span-columns(1);
        #circles {
            right: -$gutter*2;
            @include animation(slide-rightleft .250s ease-out);
            @include animation-delay(6s);
            animation-fill-mode: forwards;
            .visited {
                background-color: $color-circles-visited !important;
            }
            .visited:hover {
                cursor: pointer;
            }
            div {
                margin: $solarsystem--circle-distance/2 auto $solarsystem--circle-distance/2 auto;
            }
            div:first-of-type {
                margin-bottom: $solarsystem--circle-distance/2;
            }
            div:last-of-type {
                margin-bottom: 0;
            }
            .circle--mercury {
                @include circle(7px, $color-circles-unvisited);
            }
            .circle--venus {
                @include circle(10px, $color-circles-unvisited);
            }
            .circle--earth {
                @include circle(12px, $color-circles-unvisited);
            }
            .circle--mars {
                @include circle(8px, $color-circles-unvisited);
            }
            .circle--jupiter {
                @include circle(30px, $color-circles-unvisited);
            }
            .circle--saturn {
                @include circle(25px, $color-circles-unvisited);
            }
            .circle--uranus {
                @include circle(15px, $color-circles-unvisited);
            }
            .circle--neptune {
                @include circle(13px, $color-circles-unvisited);
            }
        }
    }
    /* The buttons which allow to navigate through the content slides */
    
    #planet-detail--btns {
        margin-top: ms(6);
        .planet-detail--btns-single {
            // a single button
            text-transform: uppercase;
            font-weight: 900;
        }
        .planet-detail--hr {
            border: 0;
            background-color: white;
            height: 5px;
            width: ms(7);
            @include rotate(-60deg);
        }
        .planet-detail--key-right-s {
            width: 2rem;
            height: 2rem;
            margin: -.5rem 0 0 ms(2);
            border: $global-keys--border-weight solid;
            padding: .4rem;
            @include border-radius(3px);
            .key-right--arrow {
                svg {
                    width: 100%;
                    height: 100%;
                    @include animation(totheright 1.5s infinite);
                }
            }
        }
    }
    /* MOBILE */
    
    #mobile {
        background: url(../assets/img/bg-mobile.png);
        background-size: cover;
        @include outer-container();
        section {
            @include span-columns(8);
            @include shift(2);
            text-align: center;
            margin-top: ms(6);
        }
        h2 {
            font-size: $font-size-h2--mobile;
            font-weight: 900;
            margin-bottom: ms(2);
        }
        p {
            font-size: $font-size-base--mobile;
            line-height: 1.4;
        }
        footer {
            position: fixed;
            bottom: ms(4);
            @include span-columns(12);
            text-align: center;
            a {
                color: white;
            }
        }
    }
    .vader {
        position: absolute;
        top: 70%;
        left: 50%;
        display: inline-block;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    .vader .head {
        position: relative;
        width: 100px;
        height: 100px;
        margin-bottom: -10px;
        z-index: 1
    }
    .vader .helmet {
        position: absolute;
        top: 0;
        left: 5px;
        width: 90px;
        height: 80px;
        background: #222222;
        border-radius: 80px 80px 0 0
    }
    .vader .helmet::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50px;
        height: 8px;
        margin-left: -25px;
        background: #040507;
        border-radius: 25px 25px 0 0 / 8px 8px 0 0
    }
    .vader .helmet::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 50%;
        margin-left: -25px;
        height: 0;
        width: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 24px solid #040507
    }
    .vader .helmet span {
        position: absolute;
        top: 50%;
        width: 35px;
        height: 55px;
        background: #040507
    }
    .vader .helmet .left {
        left: -6px;
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg)
    }
    .vader .helmet .right {
        right: -6px;
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }
    .vader .helmet span::before {
        content: '';
        position: absolute;
        top: -5px;
        width: 8px;
        height: 55px;
        background: #222222
    }
    .vader .helmet .left::before {
        left: 0
    }
    .vader .helmet .right::before {
        right: 0
    }
    .vader .line {
        position: absolute;
        top: -3px;
        left: 50%;
        width: 6px;
        height: 38px;
        margin-left: -3px;
        background: #343434
    }
    .vader .line::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -4px;
        bottom: 0;
        width: 4px;
        height: 12px;
        background: #040507
    }
    .vader .line::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: -4px;
        bottom: 0;
        width: 4px;
        height: 12px;
        background: #040507
    }
    .vader .mask {
        position: absolute;
        bottom: 19px;
        left: 50%
    }
    .vader .mask span {
        position: absolute;
        top: 0;
        width: 4px;
        height: 4px;
        border-radius: 1px;
        background: #C6C6C6
    }
    .vader .mask .top {
        left: 50%;
        margin-top: -16px;
        margin-left: -2px
    }
    .vader .mask .top::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -7px;
        top: -2px;
        width: 4px;
        height: 24px;
        background: #040507;
        border-radius: 4px;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg)
    }
    .vader .mask .top::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: -7px;
        top: -2px;
        width: 4px;
        height: 24px;
        background: #040507;
        border-radius: 4px;
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg)
    }
    .vader .mask .left {
        left: 12px
    }
    .vader .mask .center {
        left: 50%;
        margin-top: -16px;
        margin-left: -2px
    }
    .vader .mask .right {
        right: 12px
    }
    .vader .grill {
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: 20px;
        margin-left: -10px
    }
    .vader .grill span {
        position: absolute;
        bottom: -5px;
        width: 2px;
        margin-left: -1px;
        background: #C6C6C6
    }
    .vader .grill .left {
        left: 4px;
        height: 10px
    }
    .vader .grill .center {
        left: 50%;
        height: 17px
    }
    .vader .grill .right {
        right: 2px;
        height: 10px
    }
    .vader .eyes {
        position: absolute;
        top: 35px;
        left: 10px;
        width: 80px;
        height: 40px;
        border-radius: 40px;
        background: #343434
    }
    .vader .eyes::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 5px;
        height: 0;
        width: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-top: 30px solid #343434
    }
    .vader .eyes span {
        position: absolute;
        top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #010000;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out
    }
    .vader .eyes .left {
        left: 7px
    }
    .vader .eyes .right {
        right: 7px
    }
    .vader .torso {
        position: relative;
        width: 60px;
        height: 80px;
        border-radius: 50px 50px 0 0;
        margin: 0 auto;
        background: #222222
    }
    .vader .torso::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -20px;
        top: -15px;
        width: 100px;
        height: 115px;
        border-radius: 50px 50px 0 0;
        margin: 0 auto;
        background: #040507;
        z-index: -1
    }
    .vader .belt {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background: #040507
    }
    .vader .belt span::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 10px;
        border-radius: 10px;
        margin-left: -10px;
        background: #C6C6C6
    }
    .vader .neck {
        position: absolute;
        left: 6px;
        top: 3px;
        width: 48px;
        height: 8px;
        background: #010000;
        z-index: 5
    }
    .vader .neck::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 8px;
        width: 32px;
        height: 10px;
        background: #222222;
        border-radius: 0 0 4px 4px
    }
    .vader .neck::after {
        content: '';
        position: absolute;
        top: -8px;
        left: 8px;
        width: 32px;
        height: 1px;
        background: #666666
    }
    .vader .neck span {
        position: absolute;
        top: 0;
        width: 6px;
        height: 125%;
        margin-left: -3px;
        background: #434343
    }
    .vader .neck .left {
        left: 6px;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        border-radius: 5px 0 0 0
    }
    .vader .neck .center {
        left: 50%;
        top: 2px
    }
    .vader .neck .right {
        right: 3px;
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        border-radius: 0 5px 0 0
    }
    .vader .neck .bottom {
        position: absolute;
        top: 8px;
        left: 4px;
        width: 46px;
        height: 5px;
        background: #222222
    }
    .vader .plate {
        position: absolute;
        left: 15px;
        top: 25px;
        width: 30px;
        height: 32px;
        background: #343434
    }
    .vader .plate .red_top {
        position: absolute;
        left: 2px;
        top: 2px;
        width: 12px;
        height: 18px;
        background: #d81f27
    }
    .vader .plate .red_top::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: rgba(0, 0, 0, 0.2)
    }
    .vader .plate .red_top::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #343434
    }
    .vader .plate .red_center {
        position: absolute;
        right: 2px;
        top: 12px;
        width: 12px;
        height: 8px;
        background: #d81f27
    }
    .vader .plate .red_center::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 100%;
        height: 4px;
        background: rgba(0, 0, 0, 0.2)
    }
    .vader .plate .red_center::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        width: 2px;
        height: 100%;
        background: #343434
    }
    .vader .plate .red_bottom {
        position: absolute;
        right: 2px;
        bottom: 2px;
        width: 4px;
        height: 8px;
        background: #d81f27
    }
    .vader .plate .blue {
        position: absolute;
        right: 2px;
        top: 2px;
        width: 12px;
        height: 8px;
        background: #455caa
    }
    .vader .plate .blue::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #343434
    }
    .vader .plate .gray {
        position: absolute;
        left: 2px;
        bottom: 2px;
        width: 20px;
        height: 8px;
        background: #9f9fa1
    }
    .vader .plate .gray::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        width: 2px;
        height: 100%;
        background: #343434
    }
    .vader .plate .gray::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 8px;
        height: 100%;
        background: rgba(0, 0, 0, 0.2)
    }
    .vader .legs {
        position: relative;
        width: 50px;
        height: 20px;
        margin: 0 auto;
        background: #222222
    }
    .vader .legs::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 20px;
        height: 100%;
        margin-left: -10px;
        background: #040507
    }
    .vader .boots {
        position: absolute;
        bottom: 0;
        left: 50%
    }
    .vader .boots span {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        width: 30px;
        height: 10px;
        background: #040507
    }
    .vader .boots .left {
        left: 10px;
        border-radius: 0 15px 0 0
    }
    .vader .boots .right {
        right: 10px;
        border-radius: 15px 0 0 0
    }
    .vader .hand {
        position: absolute;
        top: 60%;
        z-index: 2
    }
    .vader .hand.left {
        left: -2px;
        top: 82%
    }
    .vader .hand.right {
        right: -20px
    }
    .vader .hand .hand {
        position: absolute;
        top: 0;
        width: 11px;
        height: 22px;
        margin-top: -12px;
        margin-left: -12px;
        background: #040507
    }
    .vader .hand.left .hand {
        left: 0;
        border-radius: 22px 0 0 22px
    }
    .vader .hand.right .hand {
        right: 0;
        width: 22px;
        border-radius: 22px
    }
    .vader .sword {
        position: absolute;
        top: 50%;
        left: -20px;
        z-index: 10
    }
    .vader .sword .handle {
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 30px;
        margin-left: -3px;
        background: #343434
    }
    .vader .sword .handle::before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 100%;
        height: 5px;
        background: #888888
    }
    .vader .sword .handle::after {
        content: '';
        position: absolute;
        right: 4px;
        top: 5px;
        width: 4px;
        height: 5px;
        background: #343434
    }
    .vader .sword .light {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 120px;
        margin-left: -10px;
        background: rgba(248, 80, 50, 0);
        background: -moz-linear-gradient(left, rgba(248, 80, 50, 0) 10%, rgba(247, 67, 37, 0) 20%, rgba(246, 41, 12, 0.67) 40%, rgba(255, 176, 166, 1) 50%, rgba(246, 41, 12, 0.67) 60%, rgba(236, 51, 30, 0) 80%, rgba(231, 56, 39, 0) 90%);
        background: -webkit-gradient(left top, right top, color-stop(10%, rgba(248, 80, 50, 0)), color-stop(20%, rgba(247, 67, 37, 0)), color-stop(40%, rgba(246, 41, 12, 0.67)), color-stop(50%, rgba(255, 176, 166, 1)), color-stop(60%, rgba(246, 41, 12, 0.67)), color-stop(80%, rgba(236, 51, 30, 0)), color-stop(90%, rgba(231, 56, 39, 0)));
        background: -webkit-linear-gradient(left, rgba(248, 80, 50, 0) 10%, rgba(247, 67, 37, 0) 20%, rgba(246, 41, 12, 0.67) 40%, rgba(255, 176, 166, 1) 50%, rgba(246, 41, 12, 0.67) 60%, rgba(236, 51, 30, 0) 80%, rgba(231, 56, 39, 0) 90%);
        background: -o-linear-gradient(left, rgba(248, 80, 50, 0) 10%, rgba(247, 67, 37, 0) 20%, rgba(246, 41, 12, 0.67) 40%, rgba(255, 176, 166, 1) 50%, rgba(246, 41, 12, 0.67) 60%, rgba(236, 51, 30, 0) 80%, rgba(231, 56, 39, 0) 90%);
        background: -ms-linear-gradient(left, rgba(248, 80, 50, 0) 10%, rgba(247, 67, 37, 0) 20%, rgba(246, 41, 12, 0.67) 40%, rgba(255, 176, 166, 1) 50%, rgba(246, 41, 12, 0.67) 60%, rgba(236, 51, 30, 0) 80%, rgba(231, 56, 39, 0) 90%);
        background: linear-gradient(to right, rgba(248, 80, 50, 0) 10%, rgba(247, 67, 37, 0) 20%, rgba(246, 41, 12, 0.67) 40%, rgba(255, 176, 166, 1) 50%, rgba(246, 41, 12, 0.67) 60%, rgba(236, 51, 30, 0) 80%, rgba(231, 56, 39, 0) 90%);
    }
    .vader .sword .light::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 3px;
        height: 120px;
        margin-left: -1px;
        background: rgba(248, 80, 50, 1);
        z-index: -1
    }
    .vader .shadow {
        position: absolute;
        bottom: -17px;
        left: -25px;
        display: block;
        width: 150px;
        height: 14px;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 50%
    }
    .animation-right {
        -webkit-animation: animationHandRight 1.5s linear infinite;
        animation: animationHandRight 1.5s linear infinite
    }
    @-webkit-keyframes animationHandRight {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }
    @keyframes animationHandRight {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }
    .animation-left {
        -webkit-animation: animationHandLeft 3s ease-in-out infinite;
        animation: animationHandLeft 3s ease-in-out infinite
    }
    @-webkit-keyframes animationHandLeft {
        0%,
        100% {
            -webkit-transform: translateX(0) rotate(-25deg);
            transform: translateX(0) rotate(-25deg)
        }
        50% {
            -webkit-transform: translateX(150px) rotate(25deg);
            transform: translateX(150px) rotate(25deg)
        }
    }
    @keyframes animationHandLeft {
        0%,
        100% {
            -webkit-transform: translateX(0) rotate(-25deg);
            transform: translateX(0) rotate(-25deg)
        }
        50% {
            -webkit-transform: translateX(150px) rotate(25deg);
            transform: translateX(150px) rotate(25deg)
        }
    }
    .vader:hover .eyes .left {
        background: #d81f27
    }
    .vader:hover .eyes .right {
        background: #455caa
    }
