/* Restyling of basic HTML elements */

html {
    @include outer-container();
}
body {
    font-family: $main-font;
    font-size: $font-size-base;
    color: $color-copytext;
    background-color: black;
    background: url(/assets/img/bg-demo.jpg);
    background-size: cover;
}
h1,
h2,
h3 {
    text-transform: uppercase;
}
h2 {
    line-height: .8;
}
strong {
    font-weight: 900;
}

/* Global elements */

.global--clearfix {
    @extend %clearfix;
}
.global--float-left {
    float: left;
}
.global--center-vertical {
    @include vertical-center;
}
.global--center {
    @include center;
}

/* Animation keyframes */


/* animation which lets an element bounce to the right */

@include keyframes(totheright) {
    0%,
    20%,
    50%,
    80%,
    100% {
        @include transform(translateX(0));
    }
    0%,
    20%,
    50%,
    80%,
    100% {
        @include transform(translateX(0));
    }
    40% {
        @include transform(translateX(-4px));
    }
    60% {
        @include transform(translateX(-2px));
    }
}

/* pulse effect */

@include keyframes(pulse) {
    0% {
        @include transform(scale(1, 1));
        opacity: 0.0;
    }
    20% {
        opacity: 1.0;
    }
    100% {
        @include transform(scale(1.1, 1.8));
        opacity: 0.0;
    }
}

/* INTRO Splash Screen */

.intro {
    #intro--press-start {
        @include span-columns(4);
        @include shift(4);
        @include border-radius($global--border-radius);
        text-align: center;
        margin-top: $intro--margin-top;
        text-transform: uppercase;
        letter-spacing: $spacing-txt--intro-press-start;
        margin-right: -$spacing-txt--intro-press-start; // counters the letter spacing on the last letter (which would make the headline not evenly centered)
        border: $global-keys--border-weight solid;
        height: 3rem;
    }
    #press-start--txt {
        margin-top: .8rem;
    }
    #intro--press-start-pulse {
        @extend #intro--press-start;
        z-index: -10;
        border-color: #777;
        position: absolute;
        @include animation(pulse 3s ease-out infinite);
    }
    #intro--title {
        @include span-columns(8);
        @include shift(2);
        text-align: center;
        h1 {
            font-size: $font-size-h1--intro-title;
            font-weight: 100;
            letter-spacing: $spacing-h1--intro-title;
            margin-right: -$spacing-h1--intro-title; // counters the letter spacing on the last letter (which would make the headline not evenly centered)
            margin-bottom: ms(2);
            padding: 0;
        }
        h2 {
            font-size: $font-size-h2--intro-title;
            font-weight: 100;
            letter-spacing: $spacing-h2--intro-title;
            margin-right: -$spacing-h2--intro-title; // counters the letter spacing on the last letter (which would make the headline not evenly centered)
        }
    }
    #intro--arrowkeys {
        .intro-arrowkeys--key-top {
            width: 10rem;
            height: 10rem;
            background-color: red;
            margin: 8em 0 0 ms(2);
            border: $global-keys--border-weight solid white;
            padding: .4rem;
            @include border-radius(3px);
            .key-top--arrow {
                svg {
                    fill: white;
                    width: 100%;
                    height: 100%;
                    @include animation(totheright 1.5s infinite);
                }
            }
        }
    }
}

/*
* vvvvvvv ANYTHING BELOW HERE IS PLANET DETAIL RELATED vvvvvvv 
*
* The coloring takes place in the planet specific scss file.
* Basic interface when a planet is visited
*/

#planet-detail {
    #planet-detail--progress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25vw;
        height: 5px;
    }
    #planet-detail--bar-top {
        position: fixed;
        width: 100%;
        height: $topbar--height-rem;
        @include gradient(#000000, #181818);
        top: 0;
        left: 0;
        overflow: hidden;
        // includes the text in the top bar
        #bar-top--text {
            padding-top: 1.3rem;
            @include outer-container();
            h1 {
                @include span-columns(4);
                text-align: center;
                font-size: $font-size-h1--topnav;
                font-weight: 900;
            }
            #bar-top--distance {
                margin-left: $gutter;
                @include span-columns(4);
                float: left;
                text-transform: uppercase;
                font-size: $font-size-h1--topnav;
            }
        }
    }
    // the continue button is excluded from the container since it has to be positioned at right 0 top 0
    #bar-top--continue {
        //padding-right: (100%-$max-width)/2; // calculates the padding to the right regarding the grid systems max width in percent (which is 95%)
        text-align: right;
        @include span-columns(3);
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 1.3rem;
        font-size: $font-size-h1--topnav;
        height: 100%;
        // @include rotate(25deg);
        background-color: #323232;
        #continue--link {
            margin-right: $gutter;
            text-transform: uppercase;
        }
        .bar-top--key-esc-s {
            width: 3rem;
            height: 2rem;
            margin: -.4rem 0 0 ms(5);
            border: $global-keys--border-weight solid;
            text-align: center;
            padding-top: .3rem;
            @include border-radius($global--border-radius);
            span {
                font-size: rem(16);
                font-weight: 900;
            }
        }
    }
}

/*
    * This is the content area for each planet (text, facts...)
    */

.infowrapper {
    height: 100%;
    @include outer-container();
    @include calc(height, '100% - #{$topbar--height-rem}');
    margin-top: $topbar--height-rem;
}
#planet-detail--model {
    height: 100%;
    @include span-columns(6);
    padding: 5rem;
    img {
        width: 100%;
        height: auto;
    }
}
#planet-detail--txt {
    height: 100%;
    @include span-columns(5);
    margin-top: $topbar--height-rem;
    padding-top: ms(5);
    h2 {
        font-size: $font-size-h2--intro;
        font-weight: 900;
    }
    h3 {
        font-size: $font-size-h3--intro;
        font-weight: 900;
        margin-bottom: ms(0);
    }
    p {
        font-size: $font-size-p--intro;
        margin-top: ms(4);
        line-height: 1.4;
    }
}
#universe--solarsystem {
    @include span-columns(1);
    #circles {
        right: $gutter;
        div {
            margin: $solarsystem--circle-distance/2 auto $solarsystem--circle-distance/2 auto;
        }
        div:first-of-type {
            margin-bottom: $solarsystem--circle-distance/2;
        }
        div:last-of-type {
            margin-bottom: 0;
        }
        .circle--mercury {
            @include circle(7px, #fff);
        }
        .circle--venus {
            @include circle(10px, #fff);
        }
        .circle--earth {
            @include circle(12px, #fff);
        }
        .circle--mars {
            @include circle(8px, #fff);
        }
        .circle--jupiter {
            @include circle(30px, #fff);
        }
        .circle--saturn {
            @include circle(25px, #fff);
        }
        .circle--uranus {
            @include circle(15px, #fff);
        }
        .circle--neptune {
            @include circle(13px, #fff);
        }
    }
}

/* The buttons which allow to navigate through the content slides */

#planet-detail--btns {
    margin-top: ms(6);
    .planet-detail--btns-single {
        // a single button
        text-transform: uppercase;
        font-weight: 900;
    }
    .planet-detail--hr {
        border: 0;
        background-color: white;
        height: 5px;
        width: ms(7);
        @include rotate(-60deg);
    }
    .planet-detail--key-right-s {
        width: 2rem;
        height: 2rem;
        margin: -.5rem 0 0 ms(2);
        border: $global-keys--border-weight solid;
        padding: .4rem;
        @include border-radius(3px);
        .key-right--arrow {
            svg {
                width: 100%;
                height: 100%;
                @include animation(totheright 1.5s infinite);
            }
        }
    }
}
