/* Global color variables */

/* PLANET COLORS */
$color-mercury: #e1c363;
$color-venus: #f5740c;
$color-earth: #00a2ff;
$color-mars: #fa550d;
$color-jupiter: #f49a31;
$color-saturn: #fad975;
$color-uranus: #70ffe2;
$color-neptune: #007eff;
$color-circles-unvisited: rgba(255, 255, 255, .2);;
$color-circles-visited: rgba(255, 255, 255, 1);

/* GLOBAL COLORS */
$color-copytext: #fff;
$color-aside: #aaa;

/* FONTS */
$headline-font: "proxima-nova",sans-serif;
$main-font: "proxima-nova",sans-serif;

/* FONT SIZES */ 
// using modular scale. reference for ms($step): http://www.modularscale.com/?12&&1.618&sass&table
$font-size-base: $ms-base;
$font-size-h1--topnav: ms(1);
$font-size-h1--intro-title: ms(8);
$font-size-h2--intro-title: ms(2);
$font-size-h2--intro: ms(8);
$font-size-h2--slide: ms(3);
$font-size-h3--intro: ms(3);
$font-size-p--intro: ms(1);
$font-size-h2--mobile: ms(6);
$font-size-base--mobile: ms(1);
$font-size-travelmarker: ms(4);

/* type */
$spacing-h1--intro-title: ms(4);
$spacing-h2--intro-title: ms(-2);
$spacing-txt--intro-press-start: ms(-3);

/* measures */
$topbar--height-px: 60;
$topbar--height-rem: rem($topbar--height-px);
$solarsystem--circle-distance: 1.5rem;

/* global numbers */
$global--border-radius: 3px;
$global-keys--border-weight: 2px;
$border-image: 7px;

/* margins */
$intro--margin-top: ms(6);
$intro--arrowkeys-margin: 10px;

/* animations */
$arrowkeys--animation-delay: .2s;
$planet-detail--background-fadein: 10s;