/* Global color variables */

/* PLANET COLORS */
$color-mercury: #fff;
$color-venus: #fff;
$color-earth: #fff;
$color-mars: #fa550d;
$color-jupiter: #fff;
$color-saturn: #fff;
$color-uranus: #fff;
$color-neptune: #fff;

/* GLOBAL COLORS */
$color-copytext: #fff;

/* FONTS */
$main-font: "proxima-nova",sans-serif;

/* FONT SIZES */ 
// using modular scale. reference for ms($step): http://www.modularscale.com/?14&&1.618&sass&table

$font-size-base: $ms-base;
$font-size-h1--topnav: ms(1);
$font-size-h2--intro: rem(100);
$font-size-h3--intro: ms(1);
$font-size-h2--slide: ms(3);

/* measures */
$topbar--height: rem(60);